@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-black: #000000;
  --basic-black-transparent-7: rgba(0, 0, 0, 0.07);
  --basic-black-transparent-20: rgba(0, 0, 0, 0.2);
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-black-transparent-40: rgba(0, 0, 0, 0.4);
  --basic-color-big-cross: #231F20;
  --basic-white: #ffffff;
  --basic-white-transparent-20: rgba(255, 255, 255, 0.2);
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);
  --basic-white-transparent-40: rgba(255, 255, 255, 0.4);
  --basic-white-transparent-50: rgba(255, 255, 255, 0.5);
  --basic-white-transparent-70: rgba(255, 255, 255, 0.7);
  --basic-white-transparent-80: rgba(255, 255, 255, 0.8);
  --basic-braun: #361e12;
  --basic-dark: #323232;
  --basic-dark-light: #5A5A5A;
  --basic-dark-transparent-20: rgba(50, 50, 50, 0.2);
  --basic-dark-transparent-30:rgba(50, 50, 50, 0.3);
  --darken-transparent-50: rgba(49, 50, 53, 0.5);
  --basic-red: #AC1000;
  --basic-red-transparent-25: rgba(172, 16, 0, 0.25);
  --basic-darkred: #942718;
  --basic-darkred-box-shadow:  rgba(160, 32, 11, 0.76);
  --basic-color-price-cart: #ABABAB;
  --cart-color-underline: #CACAC7;
  --button-bg-start-color: #F26843;
  --button-bg-end-color: #E74A35;
  --button-box-shadow-color-64: rgba(172, 16, 0, 0.64);
  --button-box-shadow-color: #ac1000;
  --button-bg-end-color-product: #E84D37;
  --input-border-color: rgba(178, 178, 178, 0.52);
  --input-focus-color: rgba(46, 136, 228, 0.52);
  --input-placeholder-color: #999999;
  --basic-outline-color: rgba(46, 136, 228, 0.52);
  --bg-canvas-color: #F8F7F4;
  --bg-canvas-color-transparent-50: rgb(248, 247, 244, 0.5);
  --bg-canvas-color-contacts: #FEFEFE;
  --main-nav-active-color: #EDEDED;
  --main-nav-current-color: #D07058;
  --main-nav-active-box-shadow-color: #696969;
  --submenu-hover-link-color: #FBDED7;
  --submenu-active-link-color: #F6B5A5;
  --hover-active-link-color: #FFBC9E;
  --hover-active-link-color-transparent-30: rgb(255, 188, 158, 0.3);
  --hover-active-canvas-link-color: #E84D37;
  --hover-active-canvas-link-color-transparent-30: rgb(232, 77, 55, 0.3);
  --basic-bg-olive: #849D8F;
  --basic-blur-olive : rgba(215, 242, 227, 0.75);
  --basic-bg-silvergrey: #8996A6;
  --basic-blur-silvergrey : rgba(218, 228, 239, 0.75);
  --basic-bg-coffee: #9D8B84;
  --basic-blur-coffee : rgba(239, 224, 218, 0.75);
  --bg-wafer-pattern: #f0e5ce;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-white);

  background-color: var(--basic-bg-olive);
}

.page a {
  text-decoration: none;
  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.button {
  color: var(--basic-white);

  background-image: linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: 0px 2px 2px var(--button-box-shadow-color);
  border: none;
  border-radius: 70px;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, var(--basic-white-transparent-20), var(--basic-white-transparent-20)), linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: 0px 2px 2px var(--basic-red);
}

.button:active {
  background-image: linear-gradient(0deg, var(--basic-black-transparent-7), var(--basic-black-transparent-7)), linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: inset 0px 2px 2px var(--basic-darkred);
}

.link {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white-transparent-30);

  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.link:focus,
.link:active{
  color: var(--hover-active-link-color);
  border-color: var(--hover-active-link-color);
}

.link-canvas {
  color: var(--basic-dark);
  border-bottom: 1px solid var(--basic-dark-transparent-30);

  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link-canvas:hover,
.link-canvas:focus,
.link-canvas:active{
  color: var(--hover-active-canvas-link-color);
  border-color: var(--hover-active-canvas-link-color-transparent-30);
}

.form-input {
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 13px;
  padding-left: 14px;

  font-weight: 700;

  background-color: var(--basic-white);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  box-sizing: border-box;
}

.form-input::placeholder {
  font-weight: 400;
  color: var(--input-placeholder-color);
}

.form-input:hover {
  border: 1px solid var(--input-border-color);
  box-shadow: inset 0 0 0 1px var(--input-border-color);
}

.form-input:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px var(--basic-outline-color);
}

.page-body {
  padding-top: 7px;
}

.page-body .slider__item--active {
  animation: fade 0.4s;
}

.page-body.bg-silvergrey {
  background-color: var(--basic-bg-silvergrey);
}

.bg-silvergrey .slider__item::before {
  background-color: var(--basic-blur-silvergrey);
}

.bg-silvergrey .slider__item--active {
  animation: fade 0.4s;
}

.page-body.bg-coffee {
  background-color: var(--basic-bg-coffee);
}

.bg-coffee .slider__item::before {
  background-color: var(--basic-blur-coffee);
}

.bg-coffee .slider__item--active {
  animation: fade 0.4s;
}

.page-header {
  position: relative;

  display: grid;
  grid-template-columns: max-content auto auto;
  align-items: center;
}

.page-header__logo img {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 11px;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  display: flex;
  margin-top: 8px;
  margin-right: 6px;
  padding-bottom: 10px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  position: relative;

  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 7px;
  padding-left: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  border-radius: 26px;
}

.main-nav__link::after {
  content: '';

  position: absolute;

  bottom: 5px;
  left: 13px;

  width: calc(100% - 26px);
  height: 1px;

  background-color: var(--basic-white-transparent-20);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.main-nav__link:active {
  background: var(--main-nav-active-color);
  box-shadow: inset 0px 2px 1px var(--main-nav-active-box-shadow-color);
}

.main-nav__link--active {
  background-color: var(--main-nav-current-color);
}

.main-nav__link--active::after {
  display: none;
}

.sub-menu {
  position: relative;
}

.sub-menu:hover .sub-menu__list {
  display: block;
}

.sub-menu:focus-within .sub-menu__list {
  display: block;
}

.sub-menu:active .sub-menu__list {
  display: block;
}

.sub-menu__list {
  position: absolute;
  top: 36px;
  left: -8px;
  z-index: 3;

  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px var(--basic-black-transparent-40);
  border-radius: 4px;
}

.sub-menu__item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sub-menu__item:first-child {
  margin-top: 0;
}

.sub-menu__item:first-child a {
  position: relative;

  padding-top: 9px;
  padding-bottom: 11px;

  font:inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark);

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.sub-menu__item:first-child a::before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 6px;

  width: calc(100% - 15px);
  height: 1px;

  background-color: var(--basic-dark-transparent-20);
}

.sub-menu__link {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);

  background-color: transparent;
}

.sub-menu__link--active{
  background-color: var(--main-nav-current-color);
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  background-color: var(--submenu-hover-link-color);
}

.sub-menu__link:active {
  background-color: var(--submenu-active-link-color);
}

.sub-menu__link--active {
  background-color: var(--main-nav-current-color);
  color: var(--basic-white);
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  min-width: 244px;
}

.user-menu__item {
  margin-top: 10px;
  margin-right: 9px;
  padding-bottom: 10px;
}
.user-menu__item:last-child {
  margin-right: 0;
}

.user-menu__link {
  position: relative;
  display: flex;

  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);

  background-color: var(--basic-white-transparent-20);
  border-radius: 20px;
}

.user-menu__link:hover,
.user-menu__link:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.search {
  position: relative;
}

.main-search-wrapper {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 4;

  display: none;
  min-width: 341px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  background-color: var(--bg-canvas-color);
  box-shadow: 0px 20px 20px var(--basic-black-transparent-40);
  border-radius: 4px;

  box-sizing: border-box;
}

.search:hover .main-search-wrapper,
.search:focus-within .main-search-wrapper {
  display: block;
}

.search input {
  width: 100%;

  font-size: 14px;
  line-height: 16px;
}

.search__button {
  padding: 8px;
  width: 32px;
  height: 32px;

  background-color: var(--basic-white-transparent-20);
  border: none;
  border-radius: 20px;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.search__button:hover,
.search__button:focus {
  background-color: var(--basic-white);
}

.search__button:hover path,
.search__button:focus path {
  fill: var(--basic-dark);
}

.login {
  position: relative;
}

.login svg {
  position: absolute;
  top: 6px;
  left: 18px;
}

.login__link:hover path,
.login__link:focus path {
  fill: var(--basic-dark);
}

.login:hover .login__form,
.login:focus-within .login__form {
  display: flex;
}

.login__form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 4;

  display: none;
  flex-wrap: wrap;
  min-width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;

  background-color: var(--bg-canvas-color);
  box-shadow: 0px 20px 20px var(--basic-black-transparent-40);
  border-radius: 4px;

  box-sizing: border-box;
}

.login__form input {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;

  font-size: 14px;
  line-height: 16px;
}

.login__list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.login__list li {
  margin-bottom: 4px;
}

.login__list a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: var(--basic-dark);
}

.login__button {
  align-self: center;

  padding-top: 14px;
  padding-right: 26px;
  padding-bottom: 14px;
  padding-left: 26px;

  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  border: none;
  border-radius: 26px;

  box-shadow: 0px 1px 2px var(--basic-red-transparent-25);
}

.cart {
  position: relative;
}

.cart svg {
  position: absolute;
  left: 18px;
  top: 6px;
}

.cart__link:hover path,
.cart__link:focus path {
  fill: var(--basic-dark);
}

.cart__link:hover .cart-icon-bg,
.cart__link:focus .cart-icon-bg {
  fill: none;
}

.cart--active .cart__link {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.cart--active .cart-icon-bg {
  fill: var(--hover-active-canvas-link-color);
}

.cart--active:hover .cart-icon-bg,
.cart--active:focus .cart-icon-bg,
.cart--active:focus-within .cart-icon-bg {
  fill: var(--hover-active-canvas-link-color);
}

.cart-wrapper {
  position: absolute;
  top: 36px;
  right: -1px;
  z-index: 5;

  display: none;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 22px;
  padding-left: 15px;

  background-color: var(--bg-canvas-color);
  box-shadow: 0px 20px 20px var(--basic-black-transparent-40);

  border-radius: 4px;
}

.cart:hover .cart-wrapper {
  display: flex;
}

.cart:focus-within .cart-wrapper {
  display: flex;
}

.cart:active .cart-wrapper {
  display: flex;
}

.cart__list {
  min-width: 510px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-bottom: 1px solid var(--cart-color-underline);
}

.cart__item:last-child {
  margin-bottom: 0;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 11px;
}

.cart-product__delete {
  width: 11px;
  height: 11px;
  margin-top: 7px;
  margin-right: 3px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  background-color: transparent;
  background-image: url('../img/decor/cross-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  box-sizing: border-box;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.cart-product__image {
  margin-top: 4px;
  border-radius: 50%;
}

.cart-product p {
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);
}

.cart-product span {
  color: var(--basic-color-price-cart);
}

.cart-product__title {
  width: 216px;
  margin-right: 31px;
  margin-bottom: 14px;
  margin-left: 13px;
}

.cart-product__pack {
  margin-right: 26px;
}

.cart-product__price {
  margin-right: 20px;
}

.cart__price {
  align-self: flex-end;

  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-dark);
}

.cart__button {
  align-self: flex-end;

  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  border: none;
  border-radius: 26px;

  box-shadow: 0px 1px 2px var(--basic-red-transparent-25);
}

.main-header__contacts {
  position: absolute;
  z-index: 3;
  top: 54px;
  right: 27px;

  text-align: end;
}

.main-header__contacts p {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.main-header__contacts a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider {
  position: relative;
  margin-top: 12px;
}

.slider__item {
  position: relative;
  display: none;
  height: 564px;
}

.slider__item::before {
  content: '';

  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: -2;

  width: 716px;
  height: 716px;
  margin-left: auto;
  margin-right: auto;

  background: var(--basic-blur-olive);
  border-radius: 50%;

  filter: blur(250px);
}

.slider__item--active {
  display: block;
}

.slider-image-wrapper {
  display: flex;
  flex-direction: column;
  margin:0;
}

.slider-image-wrapper img {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;

  margin-right: auto;
  margin-left: auto;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__title {
  position: absolute;
  right: 0;
  bottom: 131px;
  left: 0;

  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;

  text-align: center;
}

.slider__link {
  position: absolute;
  bottom: 41px;
  left: 434px;

  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 9px;
  padding-left: 22px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;

  color: var(--basic-white);
  text-shadow: 0px 2px 5px var(--basic-darkred-box-shadow);

  box-sizing: border-box;
}

.slider__controls {
  position: absolute;
  z-index: 3;
  bottom: 62px;

  display: flex;
  justify-content: space-between;
  min-width: 79px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__controls li {
  margin-right: 8px;
}

.slider__controls li:last-child {
  margin-right: 0;
}

.slider__button {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;

  box-sizing: border-box;
}

.slider__button:hover {
  background-color: var(--basic-white-transparent-40);
}

.slider__button:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px var(--basic-outline-color);
}

.slider__button:active {
  background-color: var(--basic-white);
}

.slider__button--active {
  background-color: var(--basic-white);
}

.page-main__title {
  margin-top: -1px;
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  margin-top: 28px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs__item::after {
  content: '';

  position: absolute;
  top: -1px;
  bottom: 0;

  right: -15px;
  width: 6px;
  height: 6px;
  margin-top: auto;
  margin-bottom: auto;

  background-image: url('../img/decor/arrows-breadcrumbs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  border: none;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  display: flex;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--basic-white);
}

.promo {
  position: relative;
  z-index: 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-bottom: 40px;
}

.promo__offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 16px;

  border-radius: 16px;

  box-sizing: border-box;
}

.promo__offer-left {
  background-color: var(--basic-darkred);
  background-image: url('../img/raspberry-promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__offer-right {
  background-color: var(--basic-braun);
  background-image: url('../img/chocolate-promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__offer h3 {
  margin-top: 0;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__offer p {
  margin-top: 0;
  margin-bottom: 43px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promo__offer a {
  align-self: flex-end;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  box-shadow: 0px 2px 2px var(--button-box-shadow-color-64);
}

.filter form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter fieldset {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 0;

  border: none;
}

.fieldset-style {
  position: relative;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 16px;

  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-white-transparent-20);

  border: none;
  border-radius: 20px;

  box-sizing: border-box;
}

.filter select {
  min-width: 196px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-image: url('../img/decor/arrow-select.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 171px;
  background-position-y: 12px;

  appearance: none;
}

.filter select:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-image: url('../img/decor/arrow-select--active.svg');
}

.filter option {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.filter legend {
  margin-left: 16px;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter__list {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.filter__list label {
  padding-left: 31px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: lowercase;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.filter__item {
  position: relative;
  margin-right: 21px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__input-checkbox + label::before {
  content: '';

  position: absolute;
  left: -2px;
  top: -1px;

  width: 20px;
  height: 20px;
  background-image: url('../img/decor/checkbox-off.svg');
  background-repeat: no-repeat;

  opacity: 0.8;
}

.filter__input-checkbox:checked + label::before {
  display: none;
}

.filter__input-checkbox:checked + label::after {
  content: '';

  position: absolute;
  top: -1px;
  left: -2px;

  width: 24px;
  height: 20px;

  background-image: url('../img/decor/checkbox-on.svg');
  background-repeat: no-repeat;

  opacity: 0.8;
}

.filter__input-checkbox:hover + label::before,
.filter__input-checkbox:hover + label::after {
  opacity: 1;
}

.filter__input-checkbox:focus + label::before,
.filter__input-checkbox:focus + label::after {
  box-shadow: 0 0 0 2px var(--basic-outline-color);
}

.filter__input-checkbox:checked:hover + label::before,
.filter__input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter__input-checkbox:disabled + label::before,
.filter__input-checkbox:disabled + label::after {
  opacity: 0.4;
}

.filter__input-checkbox:disabled + label,
.filter__input-radio:disabled + label {
  cursor: auto;
}

.filter__input-radio + label::before {
  content: '';

  position: absolute;
  left: -1px;
  top: -1px;

  width: 20px;
  height: 20px;

  border: 2px solid var(--basic-white-transparent-80);
  border-radius: 50%;

  box-sizing: border-box;
}

.filter__input-radio:checked + label::after,
.filter__input-radio:active + label::after {
  content: '';

  position: absolute;
  top: 5px;
  left: 5px;

  width: 8px;
  height: 8px;

  background-color: var(--basic-white-transparent-80);
  border-radius: 50%;
}

.filter__input-radio:checked + label:hover::after,
.filter__input-radio:active + label:hover::after {
  background-color: var(--basic-white);
}

.filter__input-radio:hover + label::before {
  border-color: var(--basic-white);
}

.filter__input-radio:hover + label::after
.filter__input-radio:focus + label::after {
  background-color: var(--basic-white);
}

.filter__input-radio:focus + label::before {
  box-shadow: 0 0 0 2px var(--basic-outline-color);
}

.filter__input-radio:active + label::before,
.filter__input-radio:active + label::after {
  opacity: 1;
}

.filter__input-radio:disabled + label::before {
  border-color: var(--basic-white-transparent-40);
}
.filter__input-radio:disabled + label::after {
  background-color: var(--basic-white-transparent-40);
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 218px;
  height: 36px;
}

.range__controls {
  position: relative;
  margin-bottom: 2px;
}

.range__scale {
  width: 176px;
  height: 2px;

  background-color: var(--bg-canvas-color-transparent-50);
}

.range__bar {
  position: absolute;
  left: 25px;
  width: 100px;
  height: 2px;
  background-color: var(--bg-canvas-color);
}

.range__toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px var(--basic-black-transparent-18);

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.range__toggle:active {
  transform: scale(1.2);
}

.range__toggle::before {
  content: '';

  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: var(--basic-color-price-cart);
  border-radius: 50%;
}

.range__toggle--min {
  top: -9px;
  left: 13px;
}

.range__toggle--max {
  top: -9px;
  left: 111px;
}

.range-min-price {
  position: absolute;
  top: -22px;
  left: 57px;

  font-size: 14px;
  line-height: 16px;
}

.range-min-price::after {
  content: '-';

  position: absolute;
  top: 0;
  right: -11px;
}

.range-max-price {
  position: absolute;
  top: -22px;
  left: 110px;

  font-size: 14px;
  line-height: 16px;
}

.range__price input {
  padding: 0;

  width: 29px;
  font: inherit;
  color: var(--basic-white);

  background-color: transparent;
  border: none;
}

.range__price input::-webkit-outer-spin-button,
.range__price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range__price input[type=number] {
  -moz-appearance:textfield;
}

form .filter-topping {
  margin-bottom: 0;
}

.filter-topping .filter__list {
  min-width: 710px;
}

.filter__button {
  align-self: flex-end;

  width: 144px;
  margin-top: 20px;
  padding-top: 7px;
  padding-right: 29px;
  padding-bottom: 7px;
  padding-left: 29px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--basic-white-transparent-20);
  border: 2px solid var(--basic-white);
  border-radius: 20px;

  box-sizing: border-box;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.filter__button:active {
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 29px;
  color: var(--basic-dark);

  background-color: var(--basic-white);
  border: none;
  box-shadow: inset 0px 2px 1px var(--main-nav-active-box-shadow-color);
}

.products {
  margin-top: 40px;
  margin-bottom: 25px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
}

.products__item:hover,
.products__item:focus-within {
  z-index: 3;
}

.products__item::before {
  content: '';

  position: absolute;
  top: -6px;
  left: -13px;
  z-index: -1;

  display: none;
  width: 293px;
  min-height: calc(100% + 82px);

  background-color: var(--basic-white-transparent-20);

  box-shadow: 0px 20px 20px var(--basic-black-transparent-20);
  border-radius: 4px;
}

.products__item:hover::before,
.products__item:focus-within::before {
  display: block;
  z-index: -1;
}

.products__item--hit::after {
  content: '';

  position: absolute;
  top: 0;

  width: 61px;
  height: 61px;

  background-image: url('../img/decor/product-hit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.products__image {
  margin-bottom: 8px;
  border-radius: 50%;
}

.products__price {
  position: absolute;
  top: 207px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);

  text-shadow: 0px 1px 3px var(--darken-transparent-50);
}

.products__price span {
  margin-left: 6px;
  font-size: 30px;
  line-height: 35px;
}

.products-link-wrapper {
  margin-top: 0;
  margin-bottom: -3px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  text-align: center;
}

.products__button {
  position: absolute;
  right: 0;
  bottom: -55px;
  left: 0;

  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 16px;

  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-white);

  background: linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color-product) 100%);
  box-shadow: 0px 1px 2px var(--basic-red);
  border-radius: 50px;

  box-sizing: border-box;
}

.products__item:hover .products__button,
.products__item:focus-within .products__button {
  display: block;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 191px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: auto;
}

.pagination__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 4px;
}

.pagination__link {
  display: flex;
  padding-top: 4px;
  padding-right: 9px;
  padding-bottom: 4px;
  padding-left: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: transparent;

  border-radius: 50%;
  box-sizing: border-box;
}

.pagination__link--active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.pagination__link:hover,
.pagination__link:focus {
  color: var(--basic-white);
  background-color: var(--basic-white-transparent-20);
}

.pagination__link:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.pagination__prev {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;

  margin-right: 10px;

  width: 7px;
  height: 12px;

  background-image: url('../img/decor/arrow-pagination.svg');
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.2;
  transform: rotate(180deg);

  box-sizing: border-box;
}

.pagination__next {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;

  margin-left: 10px;

  width: 7px;
  height: 12px;

  background-image: url('../img/decor/arrow-pagination.svg');
  background-repeat: no-repeat;
  background-position: center;

  box-sizing: border-box;
}

.features {
  margin-top: 44px;
  margin-bottom: 40px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  background-color: var(--bg-wafer-pattern);
  background-image: url(../img/wafer-pattern.jpg);
  border-radius: 16px;

  box-sizing: border-box;
}

.features__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 22px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  padding-left: 55px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

.features__item::before {
  content: '';

  position: absolute;
  top: -9px;
  left: 0;

  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: center;
}

.features__item:nth-child(1)::before {
  background-image: url('../img/decor/features-1-icon-icecream.svg');
}

.features__item:nth-child(2)::before {
  background-image: url('../img/decor/features-2-icon-cow.svg');
}

.features__item:nth-child(3)::before {
  background-image: url('../img/decor/features-3-icon-eco.svg');
}

.features__item:nth-child(4)::before {
  background-image: url('../img/decor/features-4-icon-temperature.svg');
}

.blog-subscribe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog {
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  background-color: var(--basic-white);
  background-image: url('../img/strawberry-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 16px;
  box-sizing: border-box;
}

.blog p {
  margin-top: 0;
  margin-bottom: 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: var(--basic-dark);
}

.blog a {
  font:inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  text-decoration: underline;
  border: none;
}

.subscribe {
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  width: 560px;
  min-height: 220px;

  background-color: var(--bg-canvas-color);
  background-image: url('../img/post-pattern.jpg');
  border-radius: 16px;

  box-sizing: border-box;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;

  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-canvas-color);
  border-radius: 16px;

  box-sizing: border-box;
}

.subscribe__form p {
  margin-top: 0;
  margin-bottom: 41px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-light);
}

.subscribe__form input {
  flex-grow: 1;
  margin-right: 10px;

  font-size: 16px;
  line-height: 17px;
}

.subscribe .button {
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;

  font-weight: 700;
  font-size: 18px;

  border: none;
}

.contacts {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 430px;

  border-radius: 16px;
}

.contacts__map {
  width: 100%;
  height: 430px;

  border: none;
}

.contacts-wrapper {
  position: relative;
  left: 50%;
}

.contacts__info {
  position: absolute;
  bottom: -153px;
  right: -573px;

  display: flex;
  flex-direction: column;
  width: 303px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;

  background-color: var(--bg-canvas-color-contacts);
  border-radius: 16px;

  box-sizing: border-box;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts span {
  display: inline-block;
  vertical-align: baseline;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts a[href^='tel:'] {
  font:inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__link {
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;

  font:inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
}

.page-footer {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 26px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}

.page-footer::before {
  content: '';

  position: absolute;
  top: -1px;
  justify-self: center;

  width: calc(100% - 80px);
  height: 1px;

  background-color: var(--basic-white-transparent-20);
}

.social__list {
  display: flex;
  min-width: 164px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-child {
  margin: 0;
}

.social__link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social__link::before {
  content: '';

  position: absolute;
  top: -2px;
  left: -2px;
  width: 36px;
  height: 36px;

  border: 2px solid  var(--basic-white-transparent-50);
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  opacity: 1;
}

.social__link:active {
  opacity: 1;
}

.social__link:active::before {
  border: 2px solid  var(--basic-white-transparent-70);
}

.social__item:nth-child(1) .social__link {
  background-image: url('../img/decor/facebook-logo.svg');
  }

.social__item:nth-child(2) .social__link {
  background-image: url('../img/decor/vk-logo.svg');
}

.social__item:nth-child(3) .social__link {
  background-image: url('../img/decor/instagram-logo.svg');
}

.social__item:nth-child(4) .social__link {
  background-image: url('../img/decor/twitter-logo.svg');
}

.legal {
  justify-self: center;
}

.legal__list {
  display: grid;
  grid-template-columns: 1fr auto;

  width: 305px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.legal__item {
  margin-top: 5px;
}

.legal__link {
  position: relative;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.legal__item:first-child .legal__link {
  font:inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.legal__item:first-child .legal__link::before {
  content: '';

  position: absolute;
  top: 3px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url('../img/decor/heart-icon.svg');
}

.legal__link:hover.legal__link::before,
.legal__link:focus.legal__link::before {
  background-image: url('../img/decor/heart-color-icon.svg');
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.copyright {
  justify-self: self-end;
}
.copyright__logo {
  display: flex;
}

.copyright p {
  margin-top: 5px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.copyright__link {
  display: inline-block;
  vertical-align: top;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
}

.modal-show {
  display: block;
  animation: fade 0.6s;
}

.submit-error {
  animation: shadow 0.6s;
}

.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--basic-black-transparent-30);
}

.write-us__form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 477px;
  height: 441px;
  margin: auto;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;

  background-color: var(--bg-canvas-color);
  border-radius: 6px;

  box-sizing: border-box;
}

.write-us__form p {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-dark);
}

.write-us__form input {
  width: 267px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}

.write-us__form textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 23px;

  font-size: 16px;
  line-height: 20px;

  resize: none;
  box-sizing: border-box;
}

.write-us__button {
  align-self: flex-end;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.write-us--close {
  position: absolute;
  right: 13px;
  top: 11px;

  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;

  cursor:  url('../img/decor/hand-cursor-pointer.svg'), pointer;
}

.write-us--close:hover,
.write-us--close:focus {
  opacity: 0.8;
}

.write-us--close:active {
  opacity: 0.6;
}

.write-us--close::before,
.write-us--close::after {
  content: '';

  position: absolute;
  right: -1px;


  width: 100%;
  height: 2px;

  background-color: var(--basic-color-big-cross);
}

.write-us--close::before {
  transform: rotate(45deg);
}

.write-us--close::after {
  transform: rotate(-45deg);
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shadow {
  0%  {
    box-shadow: 0 0 3px 1px transparent;
  }

  50% {
    box-shadow: 0 0 5px 5px var(--basic-red);
  }

  100% {
    box-shadow: 0 0 3px 1px transparent;
  }
}

