/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-7: rgba(0, 0, 0, 0.07);
  --basic-black-transparent-20: rgba(0, 0, 0, 0.2);

  --basic-white: #ffffff;
  --basic-white-transparent-20: rgba(255, 255, 255, 0.2);
  --basic-white-transparent-40: rgba(255, 255, 255, 0.4);
  --basic-white-transparent-80: rgba(255, 255, 255, 0.8);

  --basic-dark: #323232;
  --basic-dark-light: #5A5A5A;
  --basic-dark-transparent-20: rgba(50, 50, 50, 0.2);
  --basic-dark-transparent-30:rgba(50, 50, 50, 0.3);

  --darken-transparent-50: rgba(49, 50, 53, 0.5);

  --basic-red: #AC1000;
  --basic-darkred: #942718;
  --basic-darkred-box-shadow:  rgba(160, 32, 11, 0.76);

  --basic-color-price-cart: #ABABAB;

  /* buttons */
  --button-bg-start-color: #F26843;
  --button-bg-end-color: #E74A35;
  --button-box-shadow-color: rgba(172, 16, 0, 0.64);

  --button-bg-end-color-product: #E84D37;

  /* inputs */

  --basic-input-text-color: #999999;
  --user-menu-input-border-color: #D2D3D2;
  --modal-input-border-color: rgba(178, 178, 178, 0.52);
  --basic-outline-color: rgba(46, 136, 228, 0.52);

  /* canvas  */
  --bg-canvas-color: #F8F7F4;
  --bg-canvas-color-transparent-50: rgb(248, 247, 244, 0.5);
  --bg-canvas-color-contacts: #FEFEFE;

  /* links */
  --main-nav-active-color: #EDEDED;
  --main-nav-current-color: #D07058;
  --main-nav-active-box-shadow-color: #696969;

  --submenu-hover-link-color: #FBDED7;
  --submenu-active-link-color: #F6B5A5;

  --hover-active-link-color: #FFBC9E;
  --hover-active-link-color-transparent-30: rgb(255, 188, 158, 0.3);

  --hover-active-canvas-link-color: #E84D37;
  --hover-active-canvas-link-color-transparent-30: rgb(232, 77, 55, 0.3);

  /* background */
  --basic-bg-olive: #849D8F;
  --basic-bg-silvergrey: #8996A6;
  --basic-bg-coffee: #9D8B84;
  --bg-wafer-pattern: #f0e5ce;
}


/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  color: var(--basic-white);

  background-color: var(--basic-bg-olive);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*::before,
*::after {
  box-sizing: border-box;
}

/* button */

.button {
  color: var(--basic-white);

  background-image: linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: 0px 2px 2px var(--button-box-shadow-color);
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, var(--basic-white-transparent-20), var(--basic-white-transparent-20)), linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: 0px 2px 2px var(--basic-red);
}

.button:active {
  background-image: linear-gradient(0deg, var(--basic-black-transparent-7), var(--basic-black-transparent-7)), linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color) 100%);
  box-shadow: inset 0px 2px 2px var(--basic-darkred);
}



/* main-nav */

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  position: relative;

  display: flex;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 11px;
  padding-left: 13px;

  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  border-radius: 26px;
}

.main-nav__link::after {
  content: '';

  position: absolute;
  bottom: 8px;

  width: 100%;
  height: 1px;

  background-color: var(--basic-white-transparent-20);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.main-nav__link:active {
  background: var(--main-nav-active-color);
  box-shadow: inset 0px 2px 1px var(--main-nav-active-box-shadow-color);
}

.main-nav__link--active {
  background-color: var(--main-nav-current-color);
}

.main-nav__link--active::after {
  display: none;
}

/* sub-menu */

.sub-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu__item:first-child a {
  font:inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark);
}

.sub-menu__link {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 21px;

  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);

  background-color: transparent;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  background-color: var(--submenu-hover-link-color);
}

.sub-menu__link:active {
  background-color: var(--submenu-active-link-color);
}

.sub-menu__link--active {
  background-color: var(--main-nav-current-color);
}

/* user-menu */

.user-menu__link {
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 45px;

  font:inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);

  background-color: var(--basic-white-transparent-20);
  border-radius: 20px;
}

/* search */

.main-search-wrapper {
  background-color: var(--bg-canvas-color);
  border-radius: 4px;
}

.search__button {
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: var(--basic-white-transparent-20);

  border: none;
  border-radius: 20px;

  cursor: pointer;
}

.search__button:hover,
.search__button:focus {
  background-color: var(--basic-white);
}

.search__button:hover path,
.search__button:focus path {
  fill: var(--basic-dark);
}

/* login */

.login__form {
  background-color: var(--bg-canvas-color);
  border-radius: 4px;
}

.login__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login__links a {
  position: relative;
  display: flex;

  font:inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: var(--basic-dark);
}

.login__links a::after {
  content: '';

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--basic-dark-transparent-30);
}

.login__links a:hover,
.login__links a:focus,
.login__links a:active {
  color: var(--hover-active-canvas-link-color);
}

.login__links a:hover::after,
.login__links a:focus::after,
.login__links a:active::after {
  background-color: var(--hover-active-canvas-link-color-transparent-30);
}


.main-header__contacts p {
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.main-header__contacts a {
  font: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}


/* slider */

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__title {
  font:inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;

  text-align: center;
}

.slider__link {
  padding-top: 8px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 23px;

  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;

  color: var(--basic-white);
  text-shadow: 0px 2px 5px var(--basic-darkred-box-shadow);
}

.slider__controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* promo */

.promo__offer h3 {
  font: inherit;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__offer p {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promo__offer a {
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/* products */

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item:hover {
  background-color: var(--basic-white-transparent-20);

  box-shadow: 0px 20px 20px var(--basic-black-transparent-20);
  border-radius: 4px;
}

.products__price {
  font: inherit;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);

  text-shadow: 0px 1px 3px var(--darken-transparent-50);
}

.products__price span {
  font-size: 30px;
  line-height: 35px;
}

.products__link {
  position: relative;
  display: flex;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  text-align: center;
}

.products__link::after {
  content: '';

  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 1px;

  background-color: var(--basic-white-transparent-20);
}

.products__button {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background: linear-gradient(180deg, var(--button-bg-start-color) 0%, var(--button-bg-end-color-product) 100%);
  box-shadow: 0px 1px 2px var(--basic-red);
  border-radius: 50px;
}


/* features */

.features {
  background-color: var(--bg-wafer-pattern);
  background-image: url(../img/wafer-pattern.jpg);
  border-radius: 16px;
}

.features__title {
  font: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

/* blog */

.blog {
  background-color: var(--basic-white);
  background-image: url(../img/strawberry-bg.jpg);

  background-repeat: no-repeat;

  border-radius: 16px;
}

.blog p {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: var(--basic-dark);
}

.blog__link {
  position: relative;
  display: flex;

  font:inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.blog__link::after {
  content: '';

  position: absolute;
  bottom: 2px;

  width: 100%;
  height: 2px;

  background-color: var(--basic-dark);
}

.blog__link:hover,
.blog__link:focus,
.blog__link:active{
  color: var(--hover-active-canvas-link-color);
}

.blog__link:hover::after,
.blog__link:focus::after,
.blog__link:active::after {
  background-color: var(--hover-active-canvas-link-color);
}


/* subscribe */

.subscribe {
  padding: 6px;

  background-color: var(--bg-canvas-color);
  background-image: url(../img/post-pattern.jpg);
  border-radius: 16px;

  box-sizing: border-box;
}

.subscribe__form {
  width: 100%;
  height: 100%;
  background-color: var(--bg-canvas-color);
  border-radius: 16px;
}

.subscribe__form p {
  margin-top: 0;

  font:inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-light);
}


/* contacts */

.contacts {
  background-color: var(--bg-canvas-color-contacts);
  border-radius: 16px;
}

.contacts p {
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts span {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__link {
  padding-top: 13px;
  padding-right: 28px;
  padding-bottom: 13px;
  padding-left: 28px;
}
